* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.gameBox {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#displayText {
  font-size: 2rem;
  position: absolute;
  top: 77%;
  width: 500px;
  text-align: center;
}

#lockedTitle {
  font-size: 6rem;
  position: absolute;
  top: 31%;
  visibility: hidden;
}

#usedDoorTitle {
  font-size: 5rem;
  position: absolute;
  top: 31%;
  visibility: hidden;
}

#room {
  background-image: url(/imgs/backgrounds/startRoom.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  gap: 2rem;
  background-color: rgb(177, 177, 177);
  height: 50svh;
  width: 50vw;
  visibility: visible;
}

#brownRoom {
  background-image: url(/imgs/backgrounds/brownRoomBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  gap: 2rem;
  background-color: rgb(177, 177, 177);
  height: 50svh;
  width: 50vw;
  visibility: hidden;
}

.arrowScale:hover {
  scale: 1.5;
}

#brownRoomBack {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackPB {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackP {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackBookshelfFirst {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackDeskFirst {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackBookshelfDeskUsed {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackPianoFirst {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackPianoAfterBookshelf {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackPianoAfterDesk {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackPianoAfterBoth {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackAllUsed {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#blueRoomBack {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#redRoomBack {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#inventory {
  position: absolute;
  top: 25%;
  left: 76%;
  background-color: #b7b7b7;
  height: 50svh;
  width: 10vw;
}

#inventoryText {
  position: absolute;
  color: white;
  top: 5%;
  left: 14%;
  font-size: 1.5rem;
}

#blueKey {
  cursor: pointer;
  position: absolute;
  top: 72%;
  left: -290%;
  z-index: 1;
  scale: 0.6;
  visibility: hidden;
}

#useBlueKey {
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 1;
  visibility: hidden;
}

#redKey {
  position: absolute;
  top: 80%;
  left: -310%;
  scale: 0.6;
  cursor: pointer;
  visibility: hidden;
}

#useRedKey {
  position: absolute;
  top: 20%;
  left: 30%;
  scale: 1;
  cursor: pointer;
  visibility: hidden;
  z-index: 5;
}
#greenKey {
  position: absolute;
  top: 80%;
  left: -350%;
  scale: 0.6;
  cursor: pointer;
  visibility: hidden;
}
#useGreenKey {
  position: absolute;
  top: 55%;
  left: 30%;
  cursor: pointer;
  visibility: hidden;
  z-index: 1;
}
#lockPick {
  position: absolute;
  cursor: pointer;
  top: 58%;
  left: -300%;
  z-index: 1;
  scale: 0.45;
  transform: rotate(-10deg);
  filter: contrast(2);
  visibility: hidden;
}
#useLockPick {
  position: absolute;
  cursor: pointer;
  top: 30%;
  left: 30%;
  scale: 0.75;
  z-index: 5;
  visibility: hidden;
}
#noteSheet {
  position: absolute;
  top: 69%;
  left: -120%;
  transform: rotate3d(1, 1, 1, 25deg);
  scale: 0.6;
  cursor: pointer;
  visibility: hidden;
}

#useNoteSheet {
  position: absolute;
  top: 65%;
  left: 30%;
  z-index: 5;
  cursor: pointer;
  visibility: hidden;
}
*/ .lockPickBtn {
  cursor: pointer;
  background-color: transparent;
  padding: 4.85rem 2.7rem;
  z-index: 2;
  visibility: hidden;
}
#useLockPickBlue {
  position: absolute;
  left: 35%;
  top: 46.5%;
}

#useLockPickRed {
  position: absolute;
  left: 45%;
  top: 46.5%;
}

#useLockPickGreen {
  position: absolute;
  left: 65%;
  top: 46.5%;
}

#blueDoor {
  cursor: pointer;
  position: absolute;
  left: 35%;
  top: 46.5%;
  transition: all 1s;
}

#blueDoorOpen {
  position: absolute;
  left: 35%;
  top: 46.5%;
}

#openBlueDoor {
  cursor: pointer;
  position: absolute;
  left: 35%;
  top: 46.5%;
  transition: all 1s;
  visibility: hidden;
}
#openBlueDoor:hover {
  left: 34.2%;
  transform: rotate3d(0, 30, 0, 45deg);
}

#usedBlueDoor {
  position: absolute;
  left: 35%;
  top: 46.5%;
  visibility: hidden;
}

#redDoor {
  cursor: pointer;
  position: absolute;
  left: 45%;
  top: 46.5%;
  transition: all 1s;
}

#redDoorOpen {
  position: absolute;
  left: 45%;
  top: 46.5%;
}
#openRedDoor {
  cursor: pointer;
  position: absolute;
  left: 45%;
  top: 46.5%;
  transition: all 1s;
  visibility: hidden;
}
#openRedDoor:hover {
  left: 44.2%;
  transform: rotate3d(0, 30, 0, 45deg);
}

#usedRedDoor {
  position: absolute;
  left: 45%;
  top: 46.5%;
  visibility: hidden;
}

#brownDoor {
  cursor: pointer;
  position: absolute;
  left: 55%;
  top: 46.5%;
  transition: all 1s;
}

#brownDoorOpen {
  position: absolute;
  left: 55%;
  top: 46.5%;
}

#brownDoor:hover {
  left: 54.2%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: all 1s;
}

#brownDoorOnlyPiano {
  position: absolute;
  left: 55%;
  top: 46.5%;
  visibility: hidden;
  transition: all 1s;
}

#brownDoorOnlyPiano:hover {
  left: 54.2%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: all 1s;
}

#brownDoorUsePiano {
  cursor: pointer;
  position: absolute;
  left: 55%;
  top: 46.5%;
  visibility: hidden;
  transition: all 1s;
}

#brownDoorUsePiano:hover {
  left: 54.2%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: all 1s;
}

#usedBrownDoor {
  position: absolute;
  left: 55%;
  top: 46.5%;
  visibility: hidden;
}

#greenDoor {
  cursor: pointer;
  position: absolute;
  left: 65%;
  top: 46.5%;
  transition: all 1s;
}

#greenDoorOpen {
  position: absolute;
  left: 65%;
  top: 46.5%;
}

#openGreenDoor {
  cursor: pointer;
  position: absolute;
  left: 65%;
  top: 46.5%;
  transition: all 1s;
  visibility: hidden;
}
#openGreenDoor:hover {
  left: 64.2%;
  transform: rotate3d(0, 30, 0, 45deg);
}

#usedGreenDoor {
  position: absolute;
  left: 65%;
  top: 46.5%;
  visibility: hidden;
}

#bookshelf {
  cursor: pointer;
  position: absolute;
  left: 30%;
  top: 57%;
  transition: all 0.3s;
  visibility: hidden;
}

#bookshelf:hover {
  scale: 1.1;
  transition: all 0.3s;
}

#bookshelfDeskFirst {
  cursor: pointer;
  position: absolute;
  left: 30%;
  top: 57%;
  transition: all 0.3s;
  visibility: hidden;
}

#exploreBookshelf {
  position: absolute;
  top: 50%;
  left: 44%;
  visibility: hidden;
}

#usedBookshelf {
  position: absolute;
  left: 30%;
  top: 57%;
  transition: all 0.3s;
  visibility: hidden;
}

#desk {
  cursor: pointer;
  position: absolute;
  left: 45%;
  top: 60%;
  transition: all 0.3s;
  visibility: hidden;
}

#desk:hover {
  scale: 1.1;
  transition: all 0.3s;
}

#deskBookshelfFirst {
  cursor: pointer;
  position: absolute;
  left: 45%;
  top: 60%;
  transition: all 0.3s;
  visibility: hidden;
}
#deskBookshelfFirst:hover {
  scale: 1.1;
  transition: all 0.3s;
}

#deskOpen {
  position: absolute;
  top: 55%;
  left: 44%;
  visibility: hidden;
}

#usedDesk {
  position: absolute;
  left: 45%;
  top: 60%;
  visibility: hidden;
}

#piano {
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 55%;
  transition: all 0.3s;
  visibility: hidden;
}

.pianoScale:hover {
  scale: 1.1;
  transition: all 0.3s;
}

#pianoNo {
  position: absolute;
  scale: 1.2;
  top: 49%;
  left: 44%;
  visibility: hidden;
}

#pianoAfterBookshelf {
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 55%;
  transition: all 0.3s;
  visibility: hidden;
}

#pianoAfterBookshelfNo {
  position: absolute;
  scale: 1.2;
  top: 49%;
  left: 44%;
  visibility: hidden;
}

#pianoAfterDesk {
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 55%;
  transition: all 0.3s;
  visibility: hidden;
}

#pianoAfterDeskNo {
  cursor: pointer;
  position: absolute;
  scale: 1.2;
  top: 49%;
  left: 44%;
  transition: all 0.3s;
  visibility: hidden;
}

#pianoAfterBoth {
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 55%;
  transition: all 0.3s;
  visibility: hidden;
}

#pianoAfterBothNo {
  cursor: pointer;
  position: absolute;
  scale: 1.2;
  top: 49%;
  left: 44%;
  transition: all 0.3s;
  visibility: hidden;
}

#pianoAfterNoteSheet {
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 55%;
  transition: all 0.3s;
  visibility: hidden;
}

#pianoAfterNoteSheetYes {
  cursor: pointer;
  position: absolute;
  left: 58.7%;
  top: 52.6%;
  scale: 0.8;
  transition: all 0.3s;
  visibility: hidden;
}

#playPiano {
  cursor: pointer;
  position: absolute;
  scale: 1.2;
  top: 35%;
  left: 44%;
  transition: all 0.3s;
  visibility: hidden;
}
