* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.gameBox {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#displayText {
  font-size: 2rem;
  position: absolute;
  top: 77%;
  width: 500px;
  text-align: center;
}

#lockedTitle {
  font-size: 6rem;
  position: absolute;
  top: 31%;
  visibility: hidden;
}

#usedDoorTitle {
  font-size: 5rem;
  position: absolute;
  top: 31%;
  visibility: hidden;
}

#room {
  background-image: url(/imgs/backgrounds/startRoom.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  gap: 2rem;
  background-color: rgb(177, 177, 177);
  height: 50svh;
  width: 50vw;
  visibility: visible;
}

#brownRoom {
  background-image: url(/imgs/backgrounds/brownRoomBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  gap: 2rem;
  background-color: rgb(177, 177, 177);
  height: 50svh;
  width: 50vw;
  visibility: hidden;
}

.arrowScale:hover {
  scale: 1.5;
}

#brownRoomBack {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackPB {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackP {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackBookshelfFirst {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackDeskFirst {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackBookshelfDeskUsed {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackPianoFirst {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackPianoAfterBookshelf {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackPianoAfterDesk {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackPianoAfterBoth {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#brownRoomBackAllUsed {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#blueRoomBack {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#redRoomBack {
  cursor: pointer;
  position: absolute;
  top: 30%;
  left: 27%;
  visibility: hidden;
}

#inventory {
  position: absolute;
  top: 25%;
  left: 76%;
  background-color: #b7b7b7;
  height: 50svh;
  width: 10vw;
}

#inventoryText {
  position: absolute;
  color: white;
  top: 5%;
  left: 14%;
  font-size: 1.5rem;
}

#blueKey {
  cursor: pointer;
  position: absolute;
  top: 72%;
  left: -290%;
  z-index: 1;
  scale: 0.6;
  visibility: hidden;
}

#useBlueKey {
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 1;
  visibility: hidden;
}

#redKey {
  position: absolute;
  top: 80%;
  left: -310%;
  scale: 0.6;
  cursor: pointer;
  visibility: hidden;
}

#useRedKey {
  position: absolute;
  top: 20%;
  left: 30%;
  scale: 1;
  cursor: pointer;
  visibility: hidden;
  z-index: 5;
}
#greenKey {
  position: absolute;
  top: 80%;
  left: -350%;
  scale: 0.6;
  cursor: pointer;
  visibility: hidden;
}
#useGreenKey {
  position: absolute;
  top: 55%;
  left: 30%;
  cursor: pointer;
  visibility: hidden;
  z-index: 1;
}
#lockPick {
  position: absolute;
  cursor: pointer;
  top: 58%;
  left: -300%;
  z-index: 1;
  scale: 0.45;
  transform: rotate(-10deg);
  filter: contrast(2);
  visibility: hidden;
}
#useLockPick {
  position: absolute;
  cursor: pointer;
  top: 30%;
  left: 30%;
  scale: 0.75;
  z-index: 5;
  visibility: hidden;
}

#noteSheet {
  position: absolute;
  top: 69%;
  left: -120%;
  transform: rotate3d(1, 1, 1, 25deg);
  scale: 0.6;
  cursor: pointer;
  visibility: hidden;
}

#useNoteSheet {
  position: absolute;
  top: 65%;
  left: 30%;
  z-index: 5;
  cursor: pointer;
  visibility: hidden;
}
.lockPickBtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 5.3rem 2.95rem;
  z-index: 2;
  visibility: hidden;
}
#useLockPickBlue {
  position: absolute;
  left: 35%;
  top: 50%;
  border: solid rgba(255, 255, 255, 0.6);
}

#useLockPickBlue:hover {
  animation: highlight 0.5s step-end infinite;
}

#useLockPickRed {
  position: absolute;
  left: 45%;
  top: 50%;
  border: solid rgba(255, 255, 255, 0.6);
}
#useLockPickRed:hover {
  animation: highlight 0.5s step-end infinite;
}

#useLockPickGreen {
  position: absolute;
  left: 65%;
  top: 50%;
  border: solid rgba(255, 255, 255, 0.6);
}

#useLockPickGreen:hover {
  animation: highlight 0.5s step-end infinite;
}

@keyframes highlight {
  0% {
    border: solid 3px rgba(255, 255, 255, 0.1);
  }
  25% {
    border: solid 3px rgba(255, 255, 255, 0.25);
  }
  50% {
    border: solid 3px rgba(255, 255, 255, 0.6);
  }

  100% {
    border: solid 3px white;
  }
}

#blueDoor {
  cursor: pointer;
  position: absolute;
  left: 35%;
  top: 50%;
  transition: all 1s;
}

#blueDoorOpen {
  position: absolute;
  left: 35%;
  top: 50%;
}

#openBlueDoor {
  cursor: pointer;
  position: absolute;
  left: 35%;
  top: 50%;
  transition: all 1s;
  visibility: hidden;
}
#openBlueDoor:hover {
  left: 34.2%;
  transform: rotate3d(0, 30, 0, 45deg);
}

#usedBlueDoor {
  position: absolute;
  left: 35%;
  top: 50%;
  visibility: hidden;
}

#redDoor {
  cursor: pointer;
  position: absolute;
  left: 45%;
  top: 50%;
  transition: all 1s;
}

#redDoorOpen {
  position: absolute;
  left: 45%;
  top: 50%;
}
#openRedDoor {
  cursor: pointer;
  position: absolute;
  left: 45%;
  top: 50%;
  transition: all 1s;
  visibility: hidden;
}
#openRedDoor:hover {
  left: 44.2%;
  transform: rotate3d(0, 30, 0, 45deg);
}

#usedRedDoor {
  position: absolute;
  left: 45%;
  top: 50%;
  visibility: hidden;
}

#brownDoor {
  cursor: pointer;
  position: absolute;
  left: 55%;
  top: 50%;
  transition: all 1s;
}

#brownDoorOpen {
  position: absolute;
  left: 55%;
  top: 50%;
}

#brownDoor:hover {
  left: 54.2%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: all 1s;
}

#brownDoorOnlyPiano {
  position: absolute;
  left: 55%;
  top: 50%;
  visibility: hidden;
  transition: all 1s;
}

#brownDoorOnlyPiano:hover {
  left: 54.2%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: all 1s;
}

#brownDoorUsePiano {
  cursor: pointer;
  position: absolute;
  left: 55%;
  top: 50%;
  visibility: hidden;
  transition: all 1s;
}

#brownDoorUsePiano:hover {
  left: 54.2%;
  transform: rotate3d(0, 30, 0, 45deg);
  transition: all 1s;
}

#usedBrownDoor {
  position: absolute;
  left: 55%;
  top: 50%;
  visibility: hidden;
}

#greenDoor {
  cursor: pointer;
  position: absolute;
  left: 65%;
  top: 50%;
  transition: all 1s;
}

#greenDoorOpen {
  position: absolute;
  left: 65%;
  top: 50%;
}

#openGreenDoor {
  cursor: pointer;
  position: absolute;
  left: 65%;
  top: 50%;
  transition: all 1s;
  visibility: hidden;
}
#openGreenDoor:hover {
  left: 64.2%;
  transform: rotate3d(0, 30, 0, 45deg);
}

#usedGreenDoor {
  position: absolute;
  left: 65%;
  top: 50%;
  visibility: hidden;
}

#bookshelf {
  cursor: pointer;
  position: absolute;
  left: 30%;
  top: 57%;
  transition: all 0.3s;
  visibility: hidden;
}

#bookshelf:hover {
  scale: 1.1;
  transition: all 0.3s;
}

#bookshelfDeskFirst {
  cursor: pointer;
  position: absolute;
  left: 30%;
  top: 57%;
  transition: all 0.3s;
  visibility: hidden;
}

#exploreBookshelf {
  position: absolute;
  top: 50%;
  left: 44%;
  visibility: hidden;
}

#usedBookshelf {
  position: absolute;
  left: 30%;
  top: 57%;
  transition: all 0.3s;
  visibility: hidden;
}

#desk {
  cursor: pointer;
  position: absolute;
  left: 45%;
  top: 60%;
  transition: all 0.3s;
  visibility: hidden;
}

#desk:hover {
  scale: 1.1;
  transition: all 0.3s;
}

#deskBookshelfFirst {
  cursor: pointer;
  position: absolute;
  left: 45%;
  top: 60%;
  transition: all 0.3s;
  visibility: hidden;
}
#deskBookshelfFirst:hover {
  scale: 1.1;
  transition: all 0.3s;
}

#deskOpen {
  position: absolute;
  top: 55%;
  left: 44%;
  visibility: hidden;
}

#usedDesk {
  position: absolute;
  left: 45%;
  top: 60%;
  visibility: hidden;
}

#piano {
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 55%;
  transition: all 0.3s;
  visibility: hidden;
}

.pianoScale:hover {
  scale: 1.1;
  transition: all 0.3s;
}

#pianoNo {
  position: absolute;
  scale: 1.2;
  top: 49%;
  left: 44%;
  visibility: hidden;
}

#pianoAfterBookshelf {
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 55%;
  transition: all 0.3s;
  visibility: hidden;
}

#pianoAfterBookshelfNo {
  position: absolute;
  scale: 1.2;
  top: 49%;
  left: 44%;
  visibility: hidden;
}

#pianoAfterDesk {
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 55%;
  transition: all 0.3s;
  visibility: hidden;
}

#pianoAfterDeskNo {
  cursor: pointer;
  position: absolute;
  scale: 1.2;
  top: 49%;
  left: 44%;
  transition: all 0.3s;
  visibility: hidden;
}

#pianoAfterBoth {
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 55%;
  transition: all 0.3s;
  visibility: hidden;
}

#pianoAfterBothNo {
  cursor: pointer;
  position: absolute;
  scale: 1.2;
  top: 49%;
  left: 44%;
  transition: all 0.3s;
  visibility: hidden;
}

#pianoAfterNoteSheet {
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 55%;
  transition: all 0.3s;
  visibility: hidden;
}

#pianoAfterNoteSheetYes {
  cursor: pointer;
  position: absolute;
  left: 58.7%;
  top: 52.6%;
  scale: 0.8;
  transition: all 0.3s;
  visibility: hidden;
}

#playPiano {
  cursor: pointer;
  position: absolute;
  scale: 1.2;
  top: 35%;
  left: 44%;
  transition: all 0.3s;
  visibility: hidden;
}

.startGameContainer {
  display: flex;
  height: 100svh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.079);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}

.blueRoom {
  background-color: #aec6cf;
}
.redRoom {
  background-color: #fe6161;
}
.greenRoom {
  background-color: #77dd77;
}

#gameInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.496);
  z-index: 1;
}

#gameDescription {
  font-size: 2.1rem;
  width: 650px;
  color: #3e3e3e;
}

.gameBtn {
  padding: 1.2rem 5rem;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.303);
  color: #3e3e3e;
  border: solid 1.5px #3e3e3e39;
  border-radius: 7px;
}

.gameBtn:hover {
  background-color: rgba(255, 255, 255, 0.556);
  border: solid 1.5px #3e3e3e5f;
}

.outcomeText {
  font-size: 8rem;
  display: none;
}

#countDownNumber {
  position: absolute;
  left: 64%;
  top: 20%;
  font-size: 8rem;
  color: white;
  display: none;
}

.lockBodyBg {
  display: flex;
  height: 100svh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#lockContainer {
  position: absolute;
  width: 450px;
  height: 450px;
}

#lockPickArm {
  position: absolute;
  left: 48.3%;
  top: 5.8%;
  width: 15px;
  height: 200px;
  border-radius: 50px;
  background-color: rgb(245, 245, 245);
  transform-origin: bottom;
  z-index: 1;
}

.outerCircle {
  width: 100%;
  height: 100%;
  border: 20px solid rgba(255, 255, 255, 0.476);
  outline: rgba(255, 255, 255, 0.612) solid;
  border-radius: 100%;
}

.shakeCircle:hover {
  animation: shake 3s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  1%,
  2% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  3%,
  4% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  5%,
  6% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  7%,
  8% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  9%,
  10% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  11%,
  12% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  13%,
  14% {
    transform: translate(0, 0) rotate(0deg);
  }
  15%,
  16% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  17%,
  18% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  19%,
  20% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  21%,
  22% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  23%,
  24% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  25%,
  26% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  27%,
  28% {
    transform: translate(0, 0) rotate(0deg);
  }
  29%,
  30% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  31%,
  32% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  33%,
  34% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  35%,
  36% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  37%,
  38% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  39%,
  40% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  41%,
  42% {
    transform: translate(0, 0) rotate(0deg);
  }
  43%,
  44% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  45%,
  46% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  47%,
  48% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  49%,
  50% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  51%,
  52% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  53%,
  54% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  55%,
  56% {
    transform: translate(0, 0) rotate(0deg);
  }
  57%,
  58% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  59%,
  60% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  61%,
  62% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  63%,
  64% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  65%,
  66% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  67%,
  68% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  69%,
  70% {
    transform: translate(0, 0) rotate(0deg);
  }
  71%,
  72% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  73%,
  74% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  75%,
  76% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  77%,
  78% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  79%,
  80% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  81%,
  82% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  83%,
  84% {
    transform: translate(0, 0) rotate(0deg);
  }
  85%,
  86% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
  87%,
  88% {
    transform: translate(4px, 1px) rotate(0.5deg);
  }
  89%,
  90% {
    transform: translate(6px, 2px) rotate(0.5deg);
  }
  91%,
  92% {
    transform: translate(2px, 6px) rotate(0.5deg);
  }
  93%,
  94% {
    transform: translate(3px, 3px) rotate(0.5deg);
  }
  95%,
  96% {
    transform: translate(5px, 5px) rotate(0.5deg);
  }
  97%,
  98% {
    transform: translate(0, 0) rotate(0deg);
  }
  99% {
    transform: translate(1px, 4px) rotate(0.5deg);
  }
}

.outerCircle.success {
  animation: success 0.2s linear;
}

@keyframes success {
  0% {
    border: 20px solid #77dd77;
    outline: #77dd77;
  }

  100% {
    border: 20px solid white;
    outline: white;
  }
}

.dot {
  position: absolute;
  top: -14%;
  left: -50%;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.509);
  pointer-events: none;
  animation: expandMark 3s, shake 3s ease-in-out;
}

@keyframes expandMark {
  0%,
  15%,
  30%,
  45%,
  60%,
  75%,
  90% {
    background-color: #77dd77;
  }
  5%,
  20%,
  35%,
  50%,
  65%,
  80%,
  95% {
    background-color: rgba(236, 237, 234, 0.75);
  }

  10%,
  25%,
  40%,
  55%,
  70%,
  85%,
  100% {
    background-color: #77dd77;
  }
}

#innerCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: solid 3px rgba(255, 255, 255, 0.382);
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.203);
}

#pinContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.pin {
  width: 20px;
  height: 60px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.65);
  margin-top: 4rem;
}

.pin.current {
  margin-top: 3rem;
  background-color: white;
  animation: pinDown 0.5s reverse;
}

.pin.done {
  background-color: #77dd77;
  animation: pinDone 0.5s, pinDown 0.5s;
}

@keyframes pinDone {
  0% {
    background-color: rgba(255, 255, 255);
  }
  25% {
    background-color: rgb(178, 206, 178);
  }
  50% {
    background-color: #a6d3a6;
  }
  75% {
    background-color: #98d698;
  }
  100% {
    background-color: #77dd77;
  }
}

.pin.down {
  animation: pinDown 0.5s ease;
}

@keyframes pinDown {
  0% {
    margin-top: 3rem;
  }
  10% {
    margin-top: 3.2rem;
  }
  20% {
    margin-top: 3.4rem;
  }
  30% {
    margin-top: 3.6rem;
  }
  40% {
    margin-top: 3.8rem;
  }
  50% {
    margin-top: 4rem;
  }
  60% {
    margin-top: 4.2rem;
  }
  70% {
    margin-top: 4.4rem;
  }
  80% {
    margin-top: 4.6rem;
  }
  90% {
    margin-top: 4.8rem;
  }
  100% {
    margin-top: 5rem;
  }
}

#pianoBody {
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pianoContainer {
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  width: 600px;
  height: 150px;
  background-color: rgb(59, 59, 59);
}

.whiteKey {
  list-style: none;
  background-color: white;
  width: 100%;
  height: 150px;
  border: solid 1.5px;
}

.whiteKey:hover {
  background-color: rgba(255, 252, 252, 0.85);
}

.whiteHover {
  background-color: rgba(255, 252, 252, 0.85);
}

.blackKey {
  color: white;
  list-style: none;
  background-color: black;
  height: 110px;
  width: 20px;
}
.blackKey:hover {
  background-color: rgb(99, 99, 99);
}

.blackHover {
  background-color: rgb(99, 99, 99);
}

#blackFR {
  position: absolute;
  top: 42.2%;
  left: 35.95%;
}
#blackGR {
  position: absolute;
  left: 38.5%;
  top: 42.2%;
}
#blackAR {
  position: absolute;
  left: 42.75%;
  top: 42.2%;
}
#blackCR {
  position: absolute;
  left: 45%;
  top: 42.2%;
}
#blackDR {
  position: absolute;
  left: 47.25%;
  top: 42.2%;
}

#blackFL {
  position: absolute;
  left: 51.7%;
  top: 42.2%;
}
#blackGL {
  position: absolute;
  left: 53.95%;
  top: 42.2%;
}
#blackAL {
  position: absolute;
  left: 56.2%;
  top: 42.2%;
}
#blackCL {
  position: absolute;
  left: 60.55%;
  top: 42.2%;
}
#blackDL {
  position: absolute;
  left: 62.8%;
  top: 42.2%;
}

#ipodContainer {
  position: absolute;
  top: 62%;
  left: 33.5%;
  transform: rotate3d(10, -1, 10, 60deg);
  scale: 0.45;
  cursor: pointer;
  visibility: visible;
  z-index: 2;
}

.hide {
  display: none;
}

#ipodSvg {
  width: 50px;
}

#menuBackBtn {
  position: absolute;
  left: 41.35%;
  top: 53.5%;
  padding: 1rem 2.5rem;
  border: solid;
  background-color: transparent;
  cursor: pointer;
}

#playPauseBtn {
  position: relative;
  left: -18%;
  top: -145px;
  padding: 1rem 1.85rem;
  border: solid;
  background-color: transparent;
}

.blueFill:hover {
  fill: aliceblue;
}

#bed {
  position: absolute;
  top: 56%;
  left: 30%;
  scale: 0.6;
}

#bedSideTable {
  position: absolute;
  top: 63%;
  left: 31%;
  scale: 0.6;
  z-index: 1;
}

#ipodPhoto {
  position: absolute;
  top: 20%;
  left: 39.95%;
  width: 501px;
  height: 350px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
}

#aboutScreen {
  position: absolute;
  top: 20%;
  left: 39.95%;
  width: 501px;
  height: 350px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
}

.forward,
.back {
  cursor: pointer;
  position: absolute;
  top: 32%;
  left: 41%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 3rem;
  z-index: 2;
}

.forward {
  left: 64.5%;
}

.forward:hover,
.back:hover {
  color: rgba(99, 178, 247, 0.57);
}

.fillBlack {
  fill: black;
}
